.about-me {
  padding-top: 50px;
}

.image-container {
  overflow: hidden;
  height: 400px;
  position: relative;
  width: 100%;
}

.hero-image {
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}

.hero-text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 250px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
  border: 3px solid #f1f1f1;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 80%;
}

.headshot img {
  width: 100%;
  padding-top: 50px;
}

.technology-logos {
  overflow: hidden;
}

.technology-logos img {
  height: 45px;
  width: auto;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 20px;
}

.tint {
  position: relative;
  float: left;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: background .3s linear;
  transition: background .3s linear;
}

.tint:hover:before {
  background: none;
}

@media only screen and (min-width: 768px) {
  .description {
    float: left;
    width: 50%;
  }
  .headshot {
    float: right;
    width: 50%;
  }
  .headshot img {
    padding-top: 0px;
  }
  .hero-text {
    top: 250px;
  }
  .image-container {
    height: 400px;
  }
  .hero-image {
    background-size: cover;
  }
  .hero-text {
    font-size: 40px;
    top: 250px;
  }
  .technology-logos {
    clear: both;
  }
}

@media only screen and (min-width: 1200px) {
  .image-container {
    height: 600px;
  }
  .hero-text {
    top: 350px;
    font-size: 60px;
  }
  .headshot img {
    padding-top: 0px;
    max-width: 500px;
    padding-left: 50px;
  }
  .image-container {
    height: 600px;
  }
  .description {
    width: 50%;
  }
  .technology-logos {
    margin-top: 50px;
  }
  .technology-logos img {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
  }
}

.resume-header {
  height: 90vh;
  text-align: center;
}

.professional-experience-header {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(229, 229, 229, 0))), url("../images/professional-experience.jpg");
  background: linear-gradient(to bottom, black 0%, rgba(229, 229, 229, 0) 100%), url("../images/professional-experience.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 300px;
  color: #FFFFFF;
  padding-top: 120px;
  text-align: center;
  padding-left: 0px;
  font-size: 40px;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.education-header {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(229, 229, 229, 0))), url("../images/education.jpeg");
  background: linear-gradient(to bottom, black 0%, rgba(229, 229, 229, 0) 100%), url("../images/education.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 300px;
  color: #FFFFFF;
  padding-top: 120px;
  text-align: center;
  padding-left: 0px;
  font-size: 40px;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.community-involvement-header {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(229, 229, 229, 0))), url("../images/eagle.jpg");
  background: linear-gradient(to bottom, black 0%, rgba(229, 229, 229, 0) 100%), url("../images/eagle.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 300px;
  color: #FFFFFF;
  padding-top: 120px;
  text-align: center;
  padding-left: 0px;
  font-size: 40px;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.resume {
  color: #000000;
  margin-top: 150px;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.pdf-button {
  margin: 20px auto;
  margin-bottom: 0px;
  height: 70px;
  width: 100%;
  max-width: 700px;
  padding: 25px 30px;
  border: solid 2px #000000;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.pdf-button-title {
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#pdf-download-link:hover {
  color: #000000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#resume-title {
  color: #000000;
  display: none;
  text-align: center;
  font-size: 70px;
  padding-top: 15vh;
  font-family: Arial, Helvetica, sans-serif;
}

#slow-fade-in {
  display: none;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 200px;
  font-size: 15px;
  font-weight: bold;
}

.company {
  font-size: 22px;
  line-height: 26px;
}

.job-title {
  font-size: 18px;
  line-height: 20px;
  display: inline;
}

.year {
  font-size: 14px;
  line-height: 16px;
}

@media only screen and (min-width: 991px) {
  .pdf-download {
    clear: both;
    padding-top: 20px;
  }
  .pdf-button-title {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .education {
    float: right;
    width: 50%;
  }
  .community-involvement {
    float: left;
    width: 50%;
  }
  .professional-experience-header {
    padding-top: 125px;
    padding-left: 20px;
    font-size: 50px;
    line-height: 56px;
  }
  .education-header {
    padding-top: 125px;
    padding-left: 20px;
    font-size: 50px;
    line-height: 56px;
  }
  .community-involvement-header {
    padding-top: 125px;
    padding-left: 20px;
    font-size: 50px;
    line-height: 56px;
  }
}

.portfolio {
  margin-top: 150px;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.portfolio img {
  width: 100%;
}

.contact {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-top: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact a {
  font-weight: bold;
}

.copywrite {
  color: #C8C9C9;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: #000000;
}

.footer {
  background-color: #25282B;
  border-top: 2px solid #39393A;
  padding: 20px 0px;
  margin-top: 50px;
  clear: both;
}

.copywrite {
  margin: 0 auto;
}

#title {
  font-size: 40px;
  font-weight: bold;
  color: #25282B;
  font-family: Arial, Helvetica, sans-serif;
}

#title a:hover {
  text-decoration: none;
  color: #25282B;
}

.navigationbar {
  display: block;
}

.main-nav {
  padding: 30px;
  background-color: #FFFFFF;
  color: #FFFFFF;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  border-bottom: solid 2px #39393A;
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav a:not(:first-child) {
  font-size: 20px;
  color: #C8C9C9;
  text-decoration: none;
}

.main-nav a:hover:not(:first-child) {
  text-decoration: none;
  color: #25282B;
}

.main-nav a.current {
  text-decoration: none;
  color: #25282B;
}

.main-nav a:not(:first-child) {
  display: none;
}

.main-nav a.icon {
  float: right;
  display: block;
  padding-top: 5px;
}

.main-nav.responsive {
  position: absolute;
}

.main-nav.smaller {
  padding: 10px;
}

.main-nav.smaller.responsive {
  position: fixed;
}

.main-nav.responsive a:not(:first-child) {
  display: block;
  float: none;
  text-align: left;
}

.main-nav.responsive a.icon {
  float: right;
}

.bar {
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

@media only screen and (min-width: 768px) {
  .main-nav.smaller {
    padding: 5px 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .navigationbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-nav a.icon {
    display: none;
  }
  .main-nav a:not(:first-child) {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */