.image-container {
  overflow: hidden;
  height: 600px;
  position: relative;
}

.hero-image {
  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}

.hero-text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 350px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 60px;
  font-weight: bold;
  z-index: 2;
  border: 3px solid #f1f1f1;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 80%;
}

.about-me {
  padding-top: 100px;
}

@media screen and (max-width: 1199px) {
  .image-container {
    height: 400px;
  }
  .hero-image {
    background-size: cover;
  }
  .hero-text {
    font-size: 40px;
    top: 275px;
  }
}

@media screen and (max-width: 768px) {
  .headshot {
    padding-top: 50px;
  }
  .hero-text {
    font-size: 40px;
    top: 250px;
  }
}

.resume {
  color: #000000;
  margin-top: 150px;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#resume-download {
  margin: 20px auto;
  margin-bottom: 0px;
  height: 70px;
  width: 700px;
  padding: 25px 30px;
  border: solid 2px #000000;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.take-resume {
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#resume-download-link:hover {
  color: #000000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#resumeTitle {
  color: #000000;
  display: none;
  text-align: center;
  font-size: 100px;
  padding-top: 15vh;
  font-family: Arial, Helvetica, sans-serif;
}

#slowFadeIn {
  display: none;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 200px;
  font-size: 15px;
  font-weight: bold;
}

.job-title {
  display: inline;
}

.year {
  float: right;
}

.professional-experience {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(229, 229, 229, 0))), url("../images/professional-experience.jpg");
  background: linear-gradient(to bottom, black 0%, rgba(229, 229, 229, 0) 100%), url("../images/professional-experience.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  width: 100%;
  height: 300px;
  color: #FFFFFF;
  padding-top: 125px;
  padding-left: 20px;
  font-size: 50px;
  line-height: 56px;
  font-family: Arial, Helvetica, sans-serif;
}

.education {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(229, 229, 229, 0))), url("../images/education.jpeg");
  background: linear-gradient(to bottom, black 0%, rgba(229, 229, 229, 0) 100%), url("../images/education.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  width: 100%;
  height: 300px;
  color: #FFFFFF;
  padding-top: 125px;
  padding-left: 20px;
  font-size: 50px;
  line-height: 56px;
  font-family: Arial, Helvetica, sans-serif;
}

.community-involvement {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(229, 229, 229, 0))), url("../images/eagle.jpg");
  background: linear-gradient(to bottom, black 0%, rgba(229, 229, 229, 0) 100%), url("../images/eagle.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  width: 100%;
  height: 300px;
  color: #FFFFFF;
  padding-top: 125px;
  padding-left: 20px;
  font-size: 50px;
  line-height: 56px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
}

@media screen and (max-width: 1200px) {
  .professional-experience {
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(229, 229, 229, 0))), url("../images/professional-experience.jpg");
    background: linear-gradient(to bottom, black 0%, rgba(229, 229, 229, 0) 100%), url("../images/professional-experience.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 300px;
    color: #FFFFFF;
    padding-top: 125px;
    padding-left: 20px;
    font-size: 50px;
    line-height: 56px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
  }
  .education {
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(229, 229, 229, 0))), url("../images/education.jpeg");
    background: linear-gradient(to bottom, black 0%, rgba(229, 229, 229, 0) 100%), url("../images/education.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 300px;
    color: #FFFFFF;
    padding-top: 125px;
    padding-left: 20px;
    font-size: 50px;
    line-height: 56px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
  }
  .community-involvement {
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(229, 229, 229, 0))), url("../images/eagle.jpg");
    background: linear-gradient(to bottom, black 0%, rgba(229, 229, 229, 0) 100%), url("../images/eagle.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 300px;
    color: #FFFFFF;
    padding-top: 125px;
    padding-left: 20px;
    font-size: 50px;
    line-height: 56px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
  }
}

@media screen and (max-width: 992px) {
  #resumeTitle {
    font-size: 70px;
  }
  .professional-experience {
    padding-top: 120px;
    text-align: center;
    padding-left: 0px;
    font-size: 40px;
    line-height: 40px;
  }
  .education {
    padding-top: 120px;
    text-align: center;
    padding-left: 0px;
    font-size: 40px;
    line-height: 40px;
  }
  .community-involvement {
    padding-top: 120px;
    text-align: center;
    padding-left: 0px;
    font-size: 40px;
    line-height: 40px;
  }
  #resumeTitle {
    font-size: 70px;
  }
  .about-me {
    padding-top: 60px;
  }
}

.portfolio {
  margin-top: 150px;
}

.portfolio img {
  padding: 30px;
  border: solid 2px black;
}

.portfolio h2 {
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.portfolio, .contact {
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-top: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact a {
  font-weight: bold;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.navbar {
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 999;
  position: fixed;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav, .mr-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 80px;
}

.navbar-brand {
  font-size: 40px;
  font-weight: bold;
}

.compressed {
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer {
  background-color: #25282B;
  color: #C8C9C9;
  font-weight: bold;
  font-size: 14px;
  border-top: 2px solid #39393A;
  text-align: center;
  padding: 20px 0px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 991px) {
  .navbar-nav, .mr-auto {
    padding-left: 0px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .compressed {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
/*# sourceMappingURL=main.css.map */